*.o
*.swp
*~
*.class
*.so
bin/*
servlet/web/WEB-INF/lib/realHTMLconnector.jar
docker/testWorkspace/.naturalone/log/*.log
realHTML4NaturalCore/bin/realHTML4NaturalNatCaller
docker/testWorkspace/.naturalone/*
