/*	SOME REMARKS:

	When adapting a style sheet do not change the original Casabac style sheet.
	ALways make a copy and change the copy only. The documentation (developer's guide)
	explains in which way the style sheet definition for a page is determined - it
	is possible to determine the style sheet for a given a page in a flexible way.
	
	The layout.css style sheet will be overwritten every time a new Casabac version
	is rolled out!
	
	When adapting please also only adapter these style attributes which directly
	influence the look and feel. Do not change e.g. the overflow-behaviour which
	is defined with some files.
	
    Please do not change the scrollbar attributes - this has major performance
    implications with Internet Explorer 5.5 - don't ask why...
*/

*
{
    box-sizing: border-box;
}

/*	
    All invisible links. 
 */
.links
{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/*	
    All invisible links rolled-over. 
 */
.linksRolledOver
{
    color: #FF0000;
    text-decoration: none;
    cursor: pointer;
}



/* 	********** ABSAREA ********** 
    DIV which represents the ABSAREA.
 */
.ABSAREADiv
{
    font-size: 12px;
    font-family: Verdana;
    background-color: #FEFEEE;
}

/* 	********** ABSFOLDER ********** 
    An ABSFOLDER must have a small table associated to it. The height of this
    table is 1px only. The table is drawn in the same color as the titlebar because
    the ABSFOLDER is typically positioned in front of the titlebar.
 */
.ABSFOLDERTable
{
    background-color: #00006C;
}

/* 	********** AREA ********** 
	ROWAREA, COLAREA style information.
	
	AREATable = Style for whole area
	AREATitleCell = Style for title cell in the left top corner
	AREALeftFromTitleCell = Style for small cell which is left from the 
	    Title Cell; should normally not defer from the style of the 
	    title cell
	AREARightFromTitleCell = Style for the cell right of the title 
	    cell; should normally be similar style to the table style of the area
	AREALinks = Style of the title text in the title cell	
 */
.AREATable
{
    font-size: 12px;
    font-family: Verdana;
    border-width: 0;
    background-color: #E0D8C8;
    border: 1px solid #808080;
}
.AREATitleCell
{
    font-size: 11px;
    color: #FFFFFF;
    background-color: #00006C;
}
.AREALeftFromTitleCell
{
    font-size: 11px;
    color: #808080;
    background-color: #00006C;
}
.AREARightFromTitleCell
{
    font-size: 11px;
    color: #808080;
    background-color: #00006C;
}
.AREALinks
{
    color: #FFFFFF;
    text-decoration: none;
}

/* 	********** BUTTON ********** 
	Style for button control.
 */
.BUTTONInput
{
    height: 22px;
    cursor: pointer;
    font-family: Verdana;
    font-size: 12px;
    bbackground-color: #FF0000;
    background-image: url('buttonback.jpg');
    border: 1px solid #A0A0A0;
}

.BUTTONInputRolledOver
{
    height: 22px;
    cursor: pointer;
    font-family: Verdana;
    font-size: 12px;
    background-image: url('buttonback.jpg');
    border-style: solid;
    border-width: 1px;
    border-left-color: #FFFFFF;    
    border-top-color: #FFFFFF;
    border-right-color: #000000;
   	border-bottom-color: #000000;
}

/* 	********** BUTTONLIST ********** 
	Style for button list control.
 */
.BUTTONLISTInput
{
    height: 22px;
    cursor: pointer;
    font-family: Verdana;
    font-size: 12px;
    bbackground-color: #FF0000;
    background-image: url('buttonback.jpg');
    border: 1px solid #A0A0A0;
}

.BUTTONLISTInputRolledOver
{
    height: 22px;
    cursor: pointer;
    font-family: Verdana;
    font-size: 12px;
    bbackground-color: #FF0000;
    background-image: url('buttonback.jpg');
    border-left: 1px outset #FFFFFF;    
    border-top: 1px outset #FFFFFF;
    border-right: 1px outset #000000;
   	border-bottom: 1px outset #000000;
}


/* 	********** CHECKBOX ********** 
	Style for check box control.
 */
.CHECKBOXEdit
{
    cursor: pointer;
}
.CHECKBOXNull
{
}


/* 	********** COMBOFIX ********** 
	Styles for fix combo box control.
	Dependent on the value of the status property there are different styles.
 */
.COMBOFIXSelectEdit
{
    cursor: pointer;
    font-family: Verdana;
    font-size: 12px;
    background-color: #FEFEEE;
}
.COMBOFIXSelectError
{
    cursor: pointer;
    font-family: Verdana;
    font-size: 12px;
    background-color: #F2DECE;
}
.COMBOFIXSelectDisplay
{
    cursor: pointer;
    font-family: Verdana;
    font-size: 12px;
    background-color: #E0D8C8;
}


/* 	********** DLMENU ********** 
	Style for double line menu control.
 */
.DLMENUOuterTable
{
    font-family: Verdana;
    font-size: 12px;
    color: #FFFFFF;
	background-color: #00006C;
}
.DLMENUTopLeftCell
{
    font-family: Verdana;
    color: #FFFFFF;
    font-size: 12px;
	border-bottom: solid 1px;
}
.DLMENUTopCell
{
    font-family: Verdana;
    font-size: 12px;
    color: #FFFFFF;
	border-left: solid 1px;
	border-bottom: solid 1px;
}
.DLMENUTopLeftCellSelected
{
    font-family: Verdana;
    color: #FFFFFF;
    background-color: #6C6C6C;
    font-size: 12px;
	border-bottom: solid 1px;
}
.DLMENUTopCellSelected
{
    font-family: Verdana;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #6C6C6C;
	border-left: solid 1px;
	border-bottom: solid 1px;
}
.DLMENUTopRemainingCell
{
    font-family: Verdana;
    font-size: 12px;
    color: #FFFFFF;
	border-bottom: solid 1px;
}
.DLMENUSubLeftCell
{
    font-family: Verdana;
	font-style: italic;
	font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
}
.DLMENUSubRemainingCell
{
    font-family: Verdana;
	font-style: italic;
	font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}
.DLMENUSubCell
{
    font-family: Verdana;
	font-style: italic;
	font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
	border-left: solid 1px;
}
.DLMENULink
{
	font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}
.DLMENULinkRolledOver
{
	font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #FF0000;
}
.DLMENUSubLink
{
    text-decoration: none;
    cursor: pointer;
    color: #FFFFCC;
}
 
/* 	********** FIELD ********** 
	Styles for the field control.
	There are certain variants: the field can cause a value help to popup, if defined.
	In this case the *Popup styles are used. In addition the input status of 
	the field may depend on the value of the status property of the field. In this 
	case the Edit/Display/Error variant are chosen.
	In case that there is no property for the field then the Null style is chosen.
	This is normally an error situation, if the application programmer has forgotten
	to implement a certain property.
 */
.FIELDInputEdit
{
    padding-top: 2px;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
    font-family: Verdana;
    background-color: #FEFEEE;
    border: 1px solid #FFFFFF;
}
.FIELDInputEditWithPopup
{
    padding-top: 2px;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
    font-family: Verdana;
    background-color: #FEFEEE;
    border: 1px solid #FFFFFF;
    background-image: url('tanicon.gif');
    background-repeat: no-repeat;
    background-position: right center;
}
.FIELDInputDisplay
{
    padding-top: 2px;
    height: 20px;
    font-size: 12px;
    font-family: Verdana;
    background-color: #E0D8C8;
    border: 1px solid #FFFFFF;
}
.FIELDInputDisplayWithPopup
{
    padding-top: 2px;
    height: 20px;
    font-size: 12px;
    font-family: Verdana;
    background-color: #E0D8C8;
    border: 1px solid #FFFFFF;
    background-image: url('tanicon.gif');
    background-repeat: no-repeat;
    background-position: right center;
}
.FIELDInputError
{
    padding-top: 2px;
    height: 20px;
    font-size: 12px;
    font-family: Verdana;
    background-color: #F2DECE;
    border: 1px solid #FFFFFF;
}
.FIELDInputErrorWithPopup
{
    padding-top: 2px;
    height: 20px;
    font-size: 12px;
    font-family: Verdana;
    background-color: #F2DECE;
    border: 1px solid #FFFFFF;
    background-image: url('tanicon.gif');
    background-repeat: no-repeat;
    background-position: right center;
}
.FIELDInputNull
{
    padding-top: 2px;
    height: 20px;
    font-size: 12px;
    font-family: Verdana;
    background-color: #EEEEDE;
    border: 1px solid #FFFFFF;
}
.FIELDInputNullWithPopup
{
    padding-top: 2px;
    height: 20px;
    font-size: 12px;
    font-family: Verdana;
    background-color: #EEEEDE;
    border: 1px solid #FFFFFF;
    background-image: url('tanicon.gif');
    background-repeat: no-repeat;
    background-position: right center;
}

/* 	********** HEADER ********** 
	Style of header.
 */
.HEADERTopTable
{
    background-color: #E0D8C8;
    height: 29px;
    border-style: solid;
    border-width: 0;
    border-bottom: 1px solid #808080;
}
.HEADERBottomTable
{
}


/* 	********** ICON ********** 
	Style of icon controls.
 */
.ICONImage
{
	padding: 2px;
    cursor: pointer;
}
.ICONImageRollOver
{
	padding: 1px;
    border-width: 1px;
   	border-style: solid;
   	border-left-color: #FFFFFF;
   	border-top-color: #FFFFFF;
    border-right-color: #000000;
    border-bottom-color: #000000;
    cursor: pointer;
}



/* 	********** LABEL ********** 
	Styles for the label control. The label itself is a table cell which contains
	a DIV area in which the text is placed. There are certain style variants
	which are chosen dependent on the layout configuration of the label.
	
	The rendering information is stored in the LABELCell-styles. Place any change of
	colours in these styles. The LABELDivText is "just" for changing the text/font
	attributes of the style.
	
	LABELCellNormal = "normal" Style wihtout any influence
	LABELCellHeadline = Style if the property headline is set to true; this is normally done in headlines of grids	
	LABELCellPlainText = Style if the property plaintext is set to true
	LABELCellEmpty = Style if no text is specified inside the label
	
	LAVELDivText = Style of the inner DIV which is inside the table cell
	*/
.LABELCellNormal
{
    overflow: hide;
    background-image: url('labelback.gif');
    background-repeat: repeat-x;
    background-position: left bottom;
    font-size: 12px;
    text-align: Left;
}
.LABELCellHeadline
{
    overflow: hide;
    background-color: #00006C;
    font-size: 12px;
    color: #FFFFFF;
}
.LABELCellPlainText
{
    overflow: hide;
    font-size: 12px;
    text-align: Left
}
.LABELCellEmpty
{
    overflow: hide;
    font-size: 12px;
}
.LABELDivText
{
    overflow: hide;
    font-size: 12px
}

/* 	********** MENU ********** 
	Styles of the MENU control.	
 */

.MENUTop
{
	height: 20px;    
	font-family: Verdana;
    font-size: 12px;
    background-color: #E0D8C8;
    border: 1px solid #E0D8C8;
}

.MENUTopRollOver
{
	height: 20px;    
	font-family: Verdana;
    font-size: 12px;
    background-color: #C0B6A6;
    border: 1px solid #C0B6A6;
}

.MENUTopPressed
{
	height: 20px;    
	font-family: Verdana;
    font-size: 12px;
    background-color: #C0B6A6;
   	border: 1px solid #C0B6A6;
}

.MENUItemTable
{
    border-style: outset; 
    border-color: #FFFFFF;
    border-width: 1px;
}

.MENUItemImageCell
{
	padding: 3px;
    font-family: Verdana;
    font-size: 12px;
    background-color: #D0C7B7;
}

.MENUItemLabelCell
{
	padding: 3px;
    font-family: Verdana;
    font-size: 12px;
    background-color: #E0D8C8;
}
.MENUTextCell
{
    font-family: Verdana;
    font-size: 12px;
}

.MENUItemImageCellRollOver
{
	padding: 2px;
	padding-right: 3px;
	border-top: 1px solid #C0B6A6;
	border-bottom: 1px solid #C0B6A6;
	border-left: 1px solid #C0B6A6;
    font-family: Verdana;
    font-size: 12px;
    background-color: #C0B6A6;
}

.MENUItemLabelCellRollOver
{
	padding: 2px;
	padding-left: 3px;
	border-top: 1px solid #C0B6A6;
	border-right: 1px solid #C0B6A6;
	border-bottom: 1px solid #C0B6A6;
    font-family: Verdana;
    font-size: 12px;
    background-color: #C0B6A6;
}

.MENUSeparatorImgAboveCell
{
	height: 2px;
    background-color: #D0C7B7;

}

.MENUSeparatorImgBelowCell
{
	height: 2px;
    background-color: #D0C7B7;
}


.MENUSeparatorLabelAboveCell
{
	height: 2px;
    background-color: #E0D8C8;

}

.MENUSeparatorLabelBelowCell
{
	height: 2px;
    background-color: #E0D8C8;
}

.MENUSeparatorFirstRow
{
	height: 1px;
    background-color: #606060;
}

.MENUSeparatorSecondRow
{
	height: 1px;
    background-color: #E0E0E0;
}



/* 	********** PAGE ********** 
  	Style of page tag.
  	
  	PAGEBody = page body's style; this is the style of the central BODY of
  	    the HTML page. Inside the body an HTML table is placed which itself
  	    is the base for all the controls put into the page.
  	    Please do not confuse PAGEBody-style with the PAGBODY tag!
  	PAGETable = style of the table in which all the controls are placed
 */
.PAGEBody
{
    font-size: 12px;
    font-family: Verdana;
    ssscrollbar-3dlight-color: #E0D8C8;
    ssscrollbar-arrow-color: #000000;
    ssscrollbar-base-color: #E0D8C8;
    ssscrollbar-darkshadow-color: #E0D8C8;
    ssscrollbar-face-color: #E0D8C8;
    ssscrollbar-highlight-color: #FFFFFF;
    ssscrollbar-shadow-color: #000000;
    background-color: #FEFEEE;
    backglala-round-color: #98B4C8;
}
.PAGETable
{
    font-size: 12px;
    font-family: Verdana;
    border-left: 0 solid #00006C;
    border-right: 0 solid #00006C;
    border-bottom: 0 solid #00006C;
}

/* 	********** RADIOBUTTON ********** 
	Style for radio button control.
 */
.RADIOBUTTONEdit
{
    cursor: pointer;
}
.RADIOBUTTONNull
{
}

/* ********** SCHEDULEGRID ********** 
   The SCHEDULEGRID control is deprecated and should not be used anymore.
 */
.SCHEDULEGRIDCellDivSelectable
{
    padding-top: 2px;
    cursor: pointer;
    font-size: 12px;
    color: #000000;
}
.SCHEDULEGRIDCellDiv
{
    padding-top: 2px;
    cursor: default;
    font-size: 12px;
    color: #000000;
}

/* 	********** STATUSBAR ********** 
	Style of the status bar which is a normal table with a cell containing the status
	bar icon and another one containing the text.
	
	STATUSBARTable = style of the status bar table
	STATUSBARCell = style of the cells containing icon and text
	STATUSBARDistanceTable = you can specify that the status bar keeps 
		some horizontal distance to the page body part; this is done via a table
	STATUSBARDivAfterIcon = style of small div between icon and text
 */
.STATUSBARTable
{
    background-color: #E0D8C8;
    height: 29px;
    border-style: solid;
    border-width: 0;
    border-top: 1px solid #808080;
}
.STATUSBARCell
{
    font-size: 12px;
    font-family: Verdana;
}
.STATUSBARDistanceTable
{
}
.STATUSBARDivAfterIcon
{
	width: 5px;
}

/* 	********** STR ********** 
	Style for STR control (selectable table row). The style depends from if the row is
	selected or not.
	
	STRRowSeleced = style for selected row (==> highlighted background)
	STRRowUnselected = normal background
	STRRowNull = style if the selection property is not defined
 */
.STRRowSelected
{
    background-color: #FFFF00;
}
.STRRowUnselected
{
}
.STRRowNull
{
    background-color: #EEEEDE;
}

/* 	********** SUBCASAPAGE ********** 
	Style of the DIV holding the IFRAME for a sub casabac page.
	Please be aware that this style is e.g. used in the workplace definition -
	if you change the border size then this affects the look and feel of the
	Casabac workplace.
 */
.SUBCASAPAGEIframe
{
    border-top: 3px solid #00006C;
    border-left: 3px solid #00006C;
    border-right: 3px solid #00006C;
    border-bottom: 3px solid #00006C;
}

/* 	********** TABAREA ********** 
    Style of the ROWTABAREA control. It is also used in the ROWTABSUBPAGES
    control.
	The TABAREA contains quite a lot of styles.	First the selectable tabs
	differ dependent from if they are the most left tag or not. Then they defer
	dependent on if they are currently selected or not.
	
	Please compare the style definitions below with the look and 
	feel of the TABAREA control: it is quite important to define the right
	bottom/side-lines in order to visualize a proper TABAREA.
	
	Each tab has got a background image - which must be in synch with the
	color definitions. You normally have to update the gif files (= copying
	+ placing the copy into your own style sheet variant) if changing 
	background color informations.
	
	The central color definition of the body-part of the TABAREA control are
	defined via the TABAREACellSubpages-style.
	
	TABAREACellRemaining - On the "left side" of the TABAREA control there are
	    the tabs. Each tab is renderes as a cell of a table. The area right of
	    the tabs is a "blank" area - which get assigned the TRABAREACellRemaining
	    style. This cell has to take care that it has a bottom line which "closes"
	    the TABAREA.
	TABAREACellUnselectedFirst - Style of the most left cell if it is not selected.
	TABAREACellSelectedFirst - Style of the most left cell if it is selected.
	TABAREACellUnSelected - Style of a non-nost-left-cell it it is not selected.
	TABAREACellSelected - Style of a non-most-left-cell if it is selected.
	TABAREACellSubpages - Style of the cell which contains the "body-part" of the
	    TABAREA. Change the background color of the area here.
	TABREATable - Not used significantly... ;-) Should be "shining through".
 */
.TABAREACellRemaining
{
    font-size: 12px;
    border-bottom: 1px solid #808080;
}
.TABAREATable
{
}
.TABAREACellUnselectedFirst
{
    height:25px;
    padding-left: 25px;
    background-image: url('tabareacellunselectedfirst.gif');
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    font-size: 12px;
}
.TABAREACellUnselected
{
    height:25px;
    padding-left: 12px;
    background-image: url('tabareacellunselected.gif');
    background-repeat: no;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    font-size: 12px;
}
.TABAREACellDisabledFirst
{
    height:25px;
    padding-left: 25px;
    background-image: url('tabareacelldisabledfirst.gif');
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    font-size: 12px;
}
.TABAREACellDisabled
{
    height:25px;
    padding-left: 12px;
    background-image: url('tabareacelldisabled.gif');
    background-repeat: no;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    font-size: 12px;
}
.TABAREACellSelectedFirst
{
    height:25px;
    padding-left: 25px;
    background-image: url('tabareacellselectedfirst.gif');
    background-repeat: no;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #E0D8C8;
    font-size: 12px;
}
.TABAREACellSelected
{
    height:25px;
    padding-left: 12px;
    background-image: url('tabareacellselected.gif');
    background-repeat: no;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #E0D8C8;
    font-size: 12px;
}
.TABAREACellSubpages
{
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    background-color: #E0D8C8;
}

/*  ********** TABLEAREA ********** 
	This is the style definition for the ROWTABLEAREA control. The control
	on the one hand holds a grid - but also can have blank space right of
	the grid (e.g. if the columns widths of the columns does not fill the
	grid.
 */
.TABLEAREATable
{
    background-color: #FEFEEE;
    border-collapse: separate;
    border-spacing: 0 0;
}

.TABLEAREABorder
{
border:1px solid #E8E8E8;
}

.TABLEAREABorder>tbody, .TABLEAREABorder>tbody>tr, .TABLEAREABorder>tbody>tr>td
{
border: inherit;
}

/* 	********** TABSTRIP ********** 
	Style definitions for the TABSTRIP controls.
	Similar to the TABAREA the TABSTRIP is a table in which the tabs are 
	represented by cells of the table. The colouring of the TABSTRIP
	normally needs to be changed if you change the colour of the TITLE.

	Please be aware of that changing the colouring of the cells also
	has implications on the gif-files which make the cells. 
	
	Each cell which makes a "tab" consists out of a table cell, in which
	itself an own DIV is placed. The text of the tab is placed into
	the this DIV.
	
	The main colouring as consequence is done via the cells - the DIV
	just influenced the colouring of the contained text. THere are two
	DIV styles available: one, if the tab is selected; another one, if 
	the tab is non selected.
	
	TABSTRIPTable - Style of the table in which the cells are renderes.
	TABStripBackLeft - Style of the cell which is just left from the first
		tab of tabstrip. There is a gif-file defined as background.
	TABSTRIPBackLeft - Background information for the most left cell.
	TABSTRIPBack - Background information for all "inner" cells.
	TABSTRIPBackRight - Background information the most right cell.
	TABSTRIPCell - Text colouring for unselected tabs.
	TABSTRIPCellSelected - Text colouring for selected tab.
 */
.TABSTRIPTable
{
    background-color: #E0D8C8;
    border-width: 0;
}
.TABSTRIPBackLeft
{
    font-size: 10px;
	background-image: url('../../HTMLBasedGUI/general/tabstripleftback.gif');
}
.TABSTRIPBack
{
    font-size: 10px;
	background-image: url('../../HTMLBasedGUI/general/tabstripback.gif');
}
.TABSTRIPBackRight
{
    font-size: 10px;
	background-image: url('../../HTMLBasedGUI/general/tabstriprightback.gif');
}
.TABSTRIPCell
{
    font-size: 10px;
    color: #FFFFFF;
}
.TABSTRIPCellSelected
{
    font-size: 10px;
    color: #A0A0A0;
}

/* 	********** TD ********** 
	This is a quite important style definition because it is used everywhere
	an "emmpty cell" is required - throughout the whole Casabac controls.
	By defining the size of the font size of this cell it is rendered with
	a certain height.
 */
.TDAroundControl
{
    font-size: 12px;
}

/* 	********** TEXT ********** 
	Style definition for the TEXT control. Similar to the FIELD control
	there are certain style variants which depend on the input status.
	
	TEXTTextArea - Normal editable control.
	TEXTTextAreaERROR - Text in error mode.
	TEXTTextAreaDISPAY - Text in display mode.
 */
.TEXTTextArea
{
    background-color: #FEFEEE;
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-width: 0;
}
.TEXTTextAreaERROR
{
    background-color: #F2DECE;
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-width: 0;
}
.TEXTTextAreaDISPLAY
{
    background-color: #E0D8C8;
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-width: 0;
}

/*  ********** TEXTGRID ********** 
	Style information for the TEXTGRID-control series.
	
	The TEXTGRID consists of a DIV which itself contains a table.
	THe grid is rendered into cells of this table - in each cell again
	a div is placed.
	
	The TEXTGRID has a header line which is coloured different from the
	content lines. Each cell of the header line may be sortable - there 
	are as consequence different styles for the different sorting status
	of the cell.
	
	The content lines of the TEXTGRID are coloured in a different way
	dependent from if they are "odd" lines or "even" lines.
	
	Content lines may be selectable. IF they are selectd then they are
	rendered in a different way.
	
	TEXTGRIDDiv - STyle of the surrounding DIV. In prinicipal only the
	    background color is determined with this div. It is only visible
	    if the columns do not fill the whole grid - i.e. if the widths 
	    of the columns is below the width of the grid.
	TEXTGRIDTable - STyle of the table which makes the grid.
	TEXTGRIDCellHeader - STyle of a title cell which is not sortable.
	TEXTGRIDCellHeaderUnsorted - Style of a title cell which is sortable
		but which is not yet sorted. I.e. the user did not click this cell
		to become sorted.	
	TEXTGRIDCellHeaderAscending - STyle of a title cell which is sorted in the
		ascending direction.
	TEXTGRIDCellHeaderDescending - STyle of a title cell which is sorted in the
		descending direction.
	TEXTGRIDCellContent - Style of content cells - odd lines.
	TEXTGRIDCellContentDark - Style of content cells - even lines.
	TEXTGRIDCellContentSelected - Style of a selected content cell.
	TEXTGRIDCellRolloverContent - Style of a content cell when the mouse 
		is over the corresponding line.
	TEXTGRIDCellSelectColumn - If a text grid allows to select lines then
		a selection columns is automatically added as first column. This
		is the style of the column - if it is collected. It contains an 
		icon which smybolizes the selection column.
	TEXTGRIDROWEmpty - A TEXTGRID can be a server side scrolling text grid.
		In this case you define the number of rows which make the grid.
		If there is no data to fill all the rows then the remaining rows
		are displayed as empty rows. 
		THis is the style of the empty rows.
	TEXTGRIDConfigInput - Not used anymore.
 */
.TEXTGRIDDiv
{
    ssscrollbar-3dlight-color: #E0D8C8;
    ssscrollbar-arrow-color: #000000;
    ssscrollbar-base-color: #E0D8C8;
    ssscrollbar-darkshadow-color: #E0D8C8;
    ssscrollbar-face-color: #E0D8C8;
    ssscrollbar-highlight-color: #FFFFFF;
    ssscrollbar-shadow-color: #000000;
    background-color: #FEFEEE;
}
.TEXTGRIDTable
{
    background-color: #C0C0C0;
    color: #FFFFFF:
    ttable-layout:fixed;
}
.TEXTGRIDCellHeader
{
    height: 16px;
    background-color: #00006C;
    font-size: 12px;
    color: #FFFFFF;
}
.TEXTGRIDCellHeaderUnsorted
{
    background-image: url('../images/sort0.gif');
    background-repeat: no-repeat;
    background-position: right center;
    height: 16px;
    background-color: #00006C;
    font-size: 12px;
    color: #FFFFFF;
}
.TEXTGRIDCellHeaderAscending
{
    background-image: url('../images/sort1.gif');
    background-repeat: no-repeat;
    background-position: right center;
    height: 16px;
    background-color: #00006C;
    font-size: 12px;
    color: #FFFFFF;
}
.TEXTGRIDCellHeaderDescending
{
    background-image: url('../images/sort2.gif');
    background-repeat: no-repeat;
    background-position: right center;
    height: 16px;
    background-color: #00006C;
    font-size: 12px;
    color: #FFFFFF;
}
.TEXTGRIDCellContent
{
    height: 16px;
    background-color: #FFFFFA;
    font-size: 12px;
    color: #000000;
    cursor: pointer;
    ppadding-top: 1px;
    ppadding-bottom: 1px;
}
.TEXTGRIDCellContentDark
{
    height: 16px;
    background-color: #FEFEEE;
    font-size: 12px;
    color: #000000;
    cursor: pointer;
    ppadding-top: 1px;
    ppadding-bottom: 1px;
}
.TEXTGRIDCellSelectedContent
{
    height: 16px;
    background-color: #E0D8C8;
    font-size: 12px;
    color: #000000;
    cursor: pointer;
    padding-top: 1px;
    padding-bottom: 1px;
}
.TEXTGRIDCellRolloverContent
{
    height: 16px;
    background-color: #FFFF00;
    font-size: 12px;
    color: #000000;
    cursor: pointer;
    padding-top: 1px;
    padding-bottom: 1px;
}
.TEXTGRIDConfigInput
{
    height: 16px;
    font-family: Verdana;
    font-size: 12px;
    background-color: #FEFEEE;
    border: 1px solid #FFFFFF
}
.TEXTGRIDRowEmpty
{
    height: 16px;
    background-color: #EEEEDE;
    bbackground-color: #FFFFFF;
    font-size: 12px;
    color: #000000;
    padding-top: 1px;
    padding-bottom: 1px;
}
.TEXTGRIDCellSelectColumn
{
    background-image: url('../images/textgridselect.gif');
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 0
}




/* 	********** TEXTOUT ********** 
	Style of the TEXTOUT control.
	
	In the TEXTOUT control you can directly specify the font size. In this case
	the TEXTOUSpanWithoutFontSize is chosen - otherwise the style TEXTOUTSpan is 
	chosen and the font-size is set by the style definition.
 */
.TEXTOUTSpan
{
    font-size: 12px;
}
.TEXTOUTSpanWithoutFontSize
{
}

/*  ********** TITLEBAR ********** 
	Styles of the TITLEBAR control.
	
	The TITLEBAR is a table containing several cells, themselves containing
	the text, the "cross"-image for closing the window.
	
	TITLEBARTable - Style of the table which surrounds the TITLEBAR.
	TITLEBARCell - STyle of the cells.
	TITLEBARVariantsTable - Not used anymore.
	TITLEBARVariantsCell - Not used anymore.
	TITLEBARVariantsLink - Not used anymore.
 */
.TITLEBARTable
{
    background-color: #00006C;
    border-width: 0;
    height: 27px;
}
.TITLEBARCell
{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF
}
.TITLEBARVariantsTable
{
    background-color: #E0D8C8;
    border-width: 1px
}
.TITLEBARVariantsCell
{
    background-color: #00006C;
    border-width: 0
}
.TITLEBARVariantsLink
{
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none
}

/* 	********** TOGGLE ********** 
	Style for the TOGGLE control.
	
	The TOGGLE control is filled with an icon at runtime - which is 
	defined in the layout definition. The most critical apsect is to
	postion this icon image inside the center of the control. THere
	is a certain distance of the icon to the top of the control.
 */
.TOGGLECell
{
    font-size: 12px;
    text-valign: middle;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
	overflow: hidden;
}


/* 	********** TOUCHPAGE ********** 
	NOT IN USE.
 */
.TOUCHPAGEBody
{
    font-size: 12px;
    font-family: Verdana;
    ssscrollbar-3dlight-color: #E0D8C8;
    ssscrollbar-arrow-color: #000000;
    ssscrollbar-base-color: #E0D8C8;
    ssscrollbar-darkshadow-color: #E0D8C8;
    ssscrollbar-face-color: #E0D8C8;
    ssscrollbar-highlight-color: #FFFFFF;
    ssscrollbar-shadow-color: #000000;
    background-color: #C0B8A8;
    la-background-color: #00006C;
    lala-background-color: #FEFEEE;
    lalala-background-color: #98B4C8
}

/* 	********** TREENODE ********** 
	Styles of the TREENODE control.
	
	Each TREEENODE itself is rendered as a table with in which some distance cells
	are located and in which the text cell is placed.
	
	A TREENODE is selectable. Dependent on the selection status different
	styles are chosen.
	
	TREENODETable - Style of the table if the tree node is not selected.
	TREENODESelectedTable - Style of the table if the treen node is selected.
	TREENODECell - Style of the text cell inside the tree node table.	
 */
.TREENODETable
{
    xxbackground-color: #FEFEEE;
    font-size: 12px
}
.TREENODESelectedTable
{
    background-color: #FFFF00;
    font-size: 12px
}
.TREENODECell
{
    font-size: 12px;
    height: 18px;
}

/* 	********** VALUEHELP ********* 
	Inside the value help popup it is possible to define values which are
	presented to the user - but which are not selectable. THe style of these
	values is defined here.
 */
.VALUEHELPUnselectableLine
{
    background-color: #C0C0FF;
    color: #808080;
}

/*  ********** VECHBARSDiv ********** 
	Style of the DIV in which the graphics is placed.
 */
.VECHBARSDiv
{
    background-color: #FEFEEE;
    font-size: 11px;
    overflow: auto
}

/*  ********** VECPIEDiv ********** 
	Style of the DIV in which the graphics is placed.
 */
.VECPIEDiv
{
    background-color: #FEFEEE;
    font-size: 11px;
    overflow: auto
}

/*  ********** VECSINGLEHBARSDiv **********
	Style of the DIV in which the graphics is placed.
 */
.VECSINGLEHBARSDiv
{
    background-color: #FEFEEE;
    font-size: 11px;
    overflow: auto
}
.VECSINGLEHBARSText
{
    background-color: #FEFEEE;
    font-size: 11px
}

/* 	********** VSCROLL ********** 
	Not used anymore (from 1.4 Patch xxx on)
 */
.VSCROLLBody
{
    background-image: url('../../HTMLBasedGUI/images/scrollbackground.jpg');
    cursor: hand
}
.VSCROLLSlider
{
    background-color: #E0D8C8;
    background-image: url('../../HTMLBasedGUI/images/scrollsliderbackground.gif');
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #000000;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #000000;
    cursor: move
}

/* ********** VSCROLLBAR ********** */
.VSCROLLBAROuterDiv
{
    background-color: #C8C0B0;
    bbbackground-color: #FEFEEE;
    bbbbbackground-color: #E0D8C8;
}

/* ********** WORKPLACE ********** */
.WORKPLACEBelowTitle
{
    font-size: 12px;
    font-family: Verdana;
    background-color: #E0D8C8;
}
