###editorurl=http://localhost:8080/CasabacGUIServer/servlet/StartCasabacPage?PAGEURL=/HTMLBasedGUI/com.casabac.editor.editor5eclipse.html&project=HTMLBasedGUI&layout=%LAYOUT%
editorurl=casabac://localhost:8080/CasabacGUIServer/HTMLBasedGUI/com.casabac.editor.editor5&project=HTMLBasedGUI&layout=%LAYOUT%
testurl=http://localhost:8080/CasabacGUIServer/servlet/StartCasabacPage?PAGEURL=/HTMLBasedGUI/%LAYOUT%.html
testswturl=casabac://localhost:8080/CasabacGUIServer/HTMLBasedGUI/%LAYOUT%
