<?xml version="1.0" encoding="UTF-8" standalone="no"?><realHTML4Natural><environment name="test"><natsrc>/opt/softwareag/Natural/fuser</natsrc><natbinpath>/opt/softwareag/Natural/bin/</natbinpath><natparms/><routes><route path="help"><natLibrary>TESTLIB</natLibrary><natProgram>TESTPROG</natProgram><login>false</login><loglevel>DEVELOP</loglevel><active>true</active></route></routes><environs/></environment></realHTML4Natural>
