<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<realHTML4Natural>
    <environment authHeaderField="" authServer="" name="rh4ndemo" natbinpath="/opt/softwareag/Natural/bin" natparms="" natsrcpath="/opt/softwareag/Natural/fuser">
        <route path="/echo">
            <natLibrary>TESTLIB</natLibrary>
            <natProgram>TESTPROG</natProgram>
            <login>false</login>
            <loglevel>ERROR</loglevel>
            <active>true</active>
        </route>
    </environment>
</realHTML4Natural>